<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened>
        <mad-nav-list>
            <a mat-list-item>
                <i class="material-icons">home</i>
                Home
            </a>
            <a mat-list-item>
                <i class="material-icons">attach_money</i>
                Agenda Transferência
            </a>
            <a mat-list-item>
                <i class="material-icons">account_balance_wallet</i>
                Extrato Transferência
            </a>
        </mad-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        Olá mundo!
    </mat-sidenav-content>

</mat-sidenav-container>